<html>
  <head>
    <meta charset="utf-8" />
    <title>View Main</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <span>Qual o seu nome?</span></br>
      <input type="text" name="user" /></br>
      </br>
      <span>Qual a sua data de nascimento?</span></br>
      <input type="date" name="birthDate" /></br>
      </br>
      <button type="submit">Checar</button>
    </form>
  </body>
</html>
